---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}
	
	<ul class="tabs">
		<li class="tab">
			<a href="#tab1" class="tab__link">Tab1</a>
		</li>
		<li class="tab">
			<a href="#tab2" class="tab__link">Tab2</a>
		</li>
		<li class="tab">
			<a href="#tab3" class="tab__link">Tab3</a>
		</li>
		<li class="tab">
			<a href="#tab4" class="tab__link">Tab4</a>
		</li>
	</ul>
	<div class="preview">
		<div class="preview__item" id="tab1">Tab 1</div>
		<div class="preview__item" id="tab2">Tab 2</div>
		<div class="preview__item" id="tab3">Tab 3</div>
		<div class="preview__item" id="tab4">Tab 4</div>
	</div>

{% endblock %}
